@import url("colors.css");

body {
  line-height: 1.5;
  /* lighter background: #11161C */
  background-color: #0a0e12;
  color: #a0a0a0;
}

/* Search bar */
header {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}
header div {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #11161c;
  border-radius: 10px;
  padding: 0px 10px;
}
header input {
  background-color: transparent;
  border: none;
  color: inherit;
}
header input:focus {
  border: none;
  outline: none;
}

/* hero section */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 60vh;
  padding: 16px;
}
#hero > a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #11161c;
  border-radius: 30px;
  padding: 24px;
  width: 500px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}
#hero img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
#hero h2 {
  margin: 0;
}
.follow-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 0.9em;
}
#hero > a:hover {
  box-shadow: 0 0 25px rgba(147, 112, 219, 0.8);
  border: 1px solid rgba(147, 112, 219, 0.8);
}

/* repos */
#repos a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
#repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
#repos .repo {
  flex: 1;
  background-color: #11161c;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
}

.repo:hover {
  border: 1px solid rgba(147, 112, 219, 0.8);
}

/* home page */
.home {
  margin-top: 100px;
  text-align: center;
  font-size: 2.5em;
}

/* Not found user */
.notfound {
  text-align: center;
}
